body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'sans-serif';
  padding    : 0;
  margin     : 0;
  height     : 100%;
  width      : 100%;
}

html {
  height: 100%;
  width : 100%;
}

@font-face {
  font-family: 'webfont_2';
  src        : url('../static/webfont_bar76uyhrpd.eot');
  /* IE9*/
  src        : url('../static/webfont_bar76uyhrpd.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../static/webfont_bar76uyhrpd.woff') format('woff'),
    /* chrome、firefox */
    url('../static/webfont_bar76uyhrpd.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../static/webfont_bar76uyhrpd.svg#思源黑体-极细') format('svg');
  /* iOS 4.1- */
}

.background_img {
  position       : absolute;
  z-index        : -1;
  width          : 100%;
  height         : 100%;
  overflow       : hidden;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity          : 1;
    -webkit-transform: scale(1.10);
    transform        : scale(1.10);
  }
}

.home-cover-img {
  z-index                    : -10;
  left                       : 0;
  top                        : 0;
  opacity                    : 1;
  width                      : 100%;
  height                     : 100%;
  display                    : flex;
  background-size            : cover;
  display                    : block;
  -webkit-backface-visibility: hidden;
  backface-visibility        : hidden;
  align-items                : center;
  justify-content            : center;
  position                   : absolute;
  background-repeat          : no-repeat;
  background-position        : center center;
  -webkit-transform          : translateZ(0);
}

.home-cover-img.animate-in {
  z-index                  : 99;
  animation-name           : slideshow;
  animation-duration       : 6s;
  animation-timing-function: linear;
  animation-fill-mode      : forwards;
}

.home-cover-img img {
  /* filter: brightness(80%); */
}

img {
  width     : 100%;
  height    : 100%;
  object-fit: cover
}

* {
  box-sizing: border-box !important;
  margin    : 0;
  padding   : 0;
  border    : 0;
}

.none {
  display: none !important;
}

.empty {
  opacity: 0;
  z-index: -1;
}

.type-btn-box {
  position: absolute;
  left    : 16px;
  top     : 16px;
}

.cy_btn {
  position: relative;
  height  : 50px;
  width   : 160px;
}

.cy_btn .dropdown-content {
  top     : 52px;
  position: absolute;
}